*
!console-template.json
!default_config.json
!default_config_fullnode.json
!log_cfg.yml
!README.md
!remove_junk.sh
!restart_nodes.sh
!run_full_node.sh
!test_run_net.sh
!test_run_net_ci.sh
!test_run_workchains.sh
!ton-global.config_1.json
!ton-global.config_2.json
!zero_state_blanc_1.json
!zero_state_blanc_2.json