[package]
build = '../common/build/build.rs'
edition = '2021'
name = 'validator_session'
version = '0.0.2'

[dependencies]
backtrace = '0.3'
crc = '3.0'
crossbeam = '0.7'
failure = '0.1'
hex = '0.4'
lazy_static = '1.4'
log = '0.4'
metrics-core = '0.5'
metrics-runtime = '0.13'
rand = '0.8'
catchain = { path = '../catchain' }
overlay = { git = 'https://github.com/tonlabs/ever-overlay.git', tag = '0.6.210' }
storage = { path = '../storage' }
ton_api = { git = 'https://github.com/tonlabs/ever-tl.git', package = 'ton_api', tag = '0.3.24' }
ton_block = { git = 'https://github.com/tonlabs/ever-block.git', tag = '1.9.88' }
ton_types = { git = 'https://github.com/tonlabs/ever-types.git', tag = '2.0.18' }

[features]
slashing = [  ]

