[package]
edition = '2018'
name = 'storage'
version = '0.5.0'

[dependencies]
async-trait = '0.1.31'
failure = '0.1'
fnv = '1.0.6'
futures = '0.3.4'
hex = '0.4'
lazy_static = '1.4.0'
log = '0.4'
log4rs = '1.2'
lru = '0.11.0'
metrics = '0.21.1'
parking_lot = '0.12.1'
serde = '1.0.114'
serde_cbor = '0.11.1'
serde_derive = '1.0.114'
strum = '0.18.0'
strum_macros = '0.18.0'
adnl = { git = 'https://github.com/tonlabs/ever-adnl.git', tag = 'pre_remp-rc' }
lockfree = { git = 'https://github.com/tonlabs/lockfree.git' }
rand = { features = [ 'small_rng' ], version = '0.8' }
tokio = { features = [ 'fs', 'rt-multi-thread' ], version = '1.5' }
ton_api = { git = 'https://github.com/tonlabs/ever-tl.git', package = 'ton_api', tag = 'pre_remp-rc' }
ton_block = { git = 'https://github.com/tonlabs/ever-block.git', tag = 'pre_remp-rc' }
ton_types = { git = 'https://github.com/tonlabs/ever-types.git', tag = 'pre_remp-rc' }

[build-dependencies]
cc = { features = [ 'parallel' ], version = '1.0.61' }

[features]
default = [  ]
telemetry = [  ]

[[bench]]
harness = false
name = 'shardstate_db'
path = 'benches/shardstate_db.rs'

[target.'cfg(unix)'.dependencies.rocksdb]
features = [ 'jemalloc' ]
git = 'https://github.com/rust-rocksdb/rust-rocksdb.git'

[target.'cfg(windows)'.dependencies.rocksdb]
git = 'https://github.com/rust-rocksdb/rust-rocksdb.git'

