[package]
build = '../common/build/build.rs'
edition = '2021'
name = 'catchain'
version = '0.1.0'

[dependencies]
adnl = { features = [ 'node' ], git = 'https://github.com/tonlabs/ever-adnl.git', tag = '0.9.24' }
chrono = '0.4.10'
crossbeam = '0.7.3'
failure = '0.1'
futures = '0.3.4'
hex = '0.4'
lazy_static = '1.4.0'
log = '0.4'
metrics = '0.21.0'
metrics-core = '0.5.2'
metrics-util = '0.15.0'
overlay = { git = 'https://github.com/tonlabs/ever-overlay.git', tag = '0.7.22' }
quanta = '0.11.1'
rand = '0.8'
regex = '1.3.1'
rldp = { git = 'https://github.com/tonlabs/ever-rldp.git', tag = '0.8.17' }
storage = { path = '../storage' }
tokio = { features = [ 'rt-multi-thread' ], version = '1.5' }
ton_api = { git = 'https://github.com/tonlabs/ever-tl.git', package = 'ton_api', tag = '0.3.61' }
ton_types = { git = 'https://github.com/tonlabs/ever-types.git', tag = '2.0.33' }
weak-self = '1.0.2'

[dev-dependencies]
chrono = '0.4.10'
env_logger = '0.7.1'
pretty_assertions = '1.3'
rocksdb = '0.21'

[features]
default = [  ]
export_key = [ 'ton_types/export_key' ]

