[package]
build = '../common/build/build.rs'
edition = '2021'
name = 'catchain'
version = '0.1.0'

[dependencies]
base64 = '0.13'
chrono = '0.4.10'
crossbeam = '0.7.3'
ed25519-dalek = '1.0'
failure = '0.1'
futures = '0.3.4'
hex = '0.4'
lazy_static = '1.4.0'
log = '0.4'
metrics-core = '0.5.2'
metrics-runtime = '0.13.0'
rand = '0.8'
regex = '1.3.1'
sha2 = '0.10'
adnl = { features = [ 'node' ], git = 'https://github.com/tonlabs/ton-labs-adnl', tag = '0.7.120' }
ever-crypto = { git = 'https://github.com/tonlabs/ever-labs-crypto', tag = '0.1.81' }
overlay = { git = 'https://github.com/tonlabs/ton-labs-overlay', tag = '0.6.115' }
rldp = { git = 'https://github.com/tonlabs/ton-labs-rldp', tag = '0.7.116' }
storage = { path = '../storage' }
tokio = { features = [ 'rt-multi-thread' ], version = '1.5' }
ton_api = { git = 'https://github.com/tonlabs/ton-labs-tl', package = 'ton_api', tag = '0.2.168' }
ton_types = { git = 'https://github.com/tonlabs/ton-labs-types', tag = '1.12.6' }

[features]
default = [  ]
export_key = [ 'ever-crypto/export_key' ]

