[package]
build = '../common/build/build.rs'
edition = '2021'
name = 'catchain'
version = '0.1.0'

[dependencies]
chrono = '0.4.10'
crossbeam = '0.7.3'
failure = '0.1'
futures = '0.3.4'
hex = '0.4'
lazy_static = '1.4.0'
log = '0.4'
metrics-core = '0.5.2'
metrics-runtime = '0.13.0'
rand = '0.8'
regex = '1.3.1'
adnl = { features = [ 'node' ], git = 'https://github.com/tonlabs/ever-adnl.git', tag = '0.8.19' }
overlay = { git = 'https://github.com/tonlabs/ever-overlay.git', tag = '0.6.210' }
rldp = { git = 'https://github.com/tonlabs/ever-rldp.git', tag = '0.7.205' }
storage = { path = '../storage' }
tokio = { features = [ 'rt-multi-thread' ], version = '1.5' }
ton_api = { git = 'https://github.com/tonlabs/ever-tl.git', package = 'ton_api', tag = '0.3.24' }
ton_types = { git = 'https://github.com/tonlabs/ever-types.git', tag = '2.0.18' }

[features]
default = [  ]
export_key = [ 'ton_types/export_key' ]

